<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="connectController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connect to LattyCraft</h4>
      </div>
      <form ng-submit="connect()">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Minecraft Username/Email</label>
                <input type="text" ng-model="username" class="form-control" placeholder="Steve" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Minecraft Password</label>
                <input type="password" ng-model="password" class="form-control" placeholder="" required>
              </div>
            </div>
          </div>
          <hr>
        <div class="modal-footer">
          <span class="btn btn-default" data-dismiss="modal">Close</span>
          <button type="submit" class="btn btn-primary">Connect</button>
        </div>
      </form>
    </div>
  </div>
</div>